body{
    margin:0;
    background:#ee56d5;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:#f118c2;
    padding:30px;
    border-radius:15px;
    width:350px;
    box-shadow:0 0 20px rgba(240, 35, 212, 0.5);
}

h1{
    text-align:center;
}

input[type=text]{
    width:100%;
    padding:10px;
    font-size:18px;
    margin:15px 0;
    border:none;
    border-radius:8px;
}

.config{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-bottom:20px;
}

button{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:8px;
    background:#00b894;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#019875;
}